<script>
  /*console.log($routeParams.id)*/
</script>

<div class="col-lg-12">
  <h1 style="padding:15px 0; text-transform: capitalize;">{{tourTypeName}}</h1>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 repeated-item" ng-repeat="tour in tours">
  <div class="thumbnail destination-card " style="background-color:#141414;">
    <div class="hovereffect">
      <div class="sayWhat destination-images" style="background-image:url({{SCOPE_HOST}}{{ tour.image.renditions['960x720'].link }})">
        <div class="caption" id="destination-text">
          <br>
          <p>
            <br> {{ tour.description}}
            <br> {{ tour.duration }} Days
            <br> {{ tour.location }}
          </p>
        </div>
      </div>
      <div class="overlay">
        <a ng-href="#/detail/{{tour['@path']}}" class="info" style="text-transform:uppercase;">

            Discover
        </a>
      </div>
    </div>
  </div>
</div>
